html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

section {
    display: flex;
    flex-direction: column;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    border:  1px dotted #242424;
}

.image-200px {
    width: 200px;
}

form article {
    padding-bottom: 10px;
}

a[rel="author"] {
    font-style: normal;
}

.caption {
    color: #7e7e7e;
    font-size: 0.75em;
}

.float-img {
    float: right;
    margin-left: 40px;
}

th {
    border: 7px solid #242424;
}

tr {
    border: 7px solid #242424;
}

td {
    border: 7px solid #242424
}

table {
    border: 3px solid #242424;
}